MONGODB_URI=mongodb+srv://username:password@cluster0.ul5zcve.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=db-name
# Google Maps API key for geolocation features
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here