.contacto-form label {
    position: relative;
    top: -40px;
    left: -5px;
    background: transparent;
    padding: 0 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    pointer-events: none; /* Evita que el label interfiera con el clic */
}

.contacto-form input:focus + label,
.contacto-form input:not(:placeholder-shown) + label{
  transform: translateY(-25px);
  color: #007bff;
}
.contacto-form textarea:focus + label,
.contacto-form textarea:not(:placeholder-shown) + label {
    transform: translateY(-85px);
    color: #007bff;
}

.contacto-form .input-border-bottom {
    border: none; 
    border-bottom: 2px solid #ccc;
    border-radius: 0; 
    outline: none;
    box-shadow: none;
    padding: 8px 0; 
    line-height: 1.5;
}

.contacto-form .input-border-bottom:focus {
    border-bottom: 2px solid #007bff; 
    box-shadow: none;
}

.contacto-form textarea.input-border-bottom {
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
  padding: 12px 0; /* Ajusta el padding para que el texto no quede pegado arriba */
  line-height: 1.5; /* Ajusta el espaciado del texto */
  min-height: calc(1.5em * 4 + 16px); /* Calcula el tamaño mínimo basado en las filas */
}